@import "tailwindcss";

@layer 
base
 {
  *, *::before, *::after {
    
box-sizing
: border-box;
  }

  * {
    
margin
: 0;
    
padding
: 0;
    
box-sizing
: border-box;
  }

  html {
    
font-family
: 'Inter', sans-serif;
    /* color: #333; */
  }
}
 @keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}
